<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ml.test.xxx.mapper.simple.NbAlarmDataMapper">

  <resultMap id="BaseResultMap" type="nbAlarmData">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="nb_rd_id" jdbcType="BIGINT" property="nbRdId" />
    <result column="alarm_start_time" jdbcType="TIMESTAMP" property="alarmStartTime" />
    <result column="alarm_end_time" jdbcType="TIMESTAMP" property="alarmEndTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="columns">
    id,
    nb_rd_id,
    alarm_start_time,
    alarm_end_time,
    create_time,
    update_time
  </sql>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_nb_alarm_data where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="nbAlarmData" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into
      t_nb_alarm_data (
      <include refid="columns"/>
    ) values (
      #{id,jdbcType=BIGINT},
      #{nbRdId,jdbcType=BIGINT},
      #{alarmStartTime,jdbcType=TIMESTAMP},
      #{alarmEndTime,jdbcType=TIMESTAMP},
      #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateByPrimaryKey" parameterType="nbAlarmData">
    update
      t_nb_alarm_data
    <set>
        <if test="nbRdId != null">
            nb_rd_id = #{nbRdId, jdbcType=BIGINT},
        </if>
        <if test="alarmStartTime != null">
            alarm_start_time = #{alarmStartTime, jdbcType=TIMESTAMP},
        </if>
        <if test="alarmEndTime != null">
            alarm_end_time = #{alarmEndTime,jdbcType=TIMESTAMP},
        </if>
        <if test="createTime != null">
            create_time = #{createTime, jdbcType=TIMESTAMP},
        </if>
        <if test="updateTime != null">
            update_time = #{updateTime, jdbcType=TIMESTAMP}
        </if>
    </set>
    where id = #{id, jdbcType=BIGINT}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select <include refid="columns"/> from t_nb_alarm_data where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select <include refid="columns"/> from t_nb_alarm_data
  </select>

</mapper>