<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ml.test.xxx.mapper.simple.NbReportDataMapper">

  <resultMap id="BaseResultMap" type="nbReportData">
  <id column="id" jdbcType="BIGINT" property="id" />
  <result column="project_id" jdbcType="BIGINT" property="projectId" />
  <result column="type" jdbcType="VARCHAR" property="type" />
  <result column="name" jdbcType="VARCHAR" property="name" />
  <result column="imei" jdbcType="VARCHAR" property="imei" />
  <result column="pressure" jdbcType="VARCHAR" property="pressure" />
  <result column="voltage" jdbcType="VARCHAR" property="voltage" />
  <result column="sign_bit_one" jdbcType="SMALLINT" property="signBitOne" />
  <result column="sign_bit_one_remark" jdbcType="VARCHAR" property="signBitOneRemark" />
  <result column="sign_bit_tow" jdbcType="SMALLINT" property="signBitTow" />
  <result column="sign_bit_tow_remark" jdbcType="VARCHAR" property="signBitTowRemark" />
  <result column="sign_bit_three" jdbcType="SMALLINT" property="signBitThree" />
  <result column="sign_bit_three_remark" jdbcType="VARCHAR" property="signBitThreeRemark" />
  <result column="sign_bit_four" jdbcType="SMALLINT" property="signBitFour" />
  <result column="sign_bit_four_remark" jdbcType="VARCHAR" property="signBitFourRemark" />
  <result column="origin_data" jdbcType="VARCHAR" property="originData" />
  <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="columns">
    id,
    project_id,
    type,
    name,
    imei,
    pressure,
    voltage,
    sign_bit_one,
    sign_bit_one_remark,
    sign_bit_tow,
    sign_bit_tow_remark,
    sign_bit_three,
    sign_bit_three_remark,
    sign_bit_four,
    sign_bit_four_remark,
    origin_data,
    create_time,
    update_time
  </sql>

  <sql id="conditions">
    <where>
      <if test="projectId != null">
        and project_id = #{projectId, jdbcType=BIGINT}
      </if>
      <if test="type != null and type != ''">
        and type = #{type, jdbcType=VARCHAR}
      </if>
      <if test="name != null and name != ''">
        and name = #{name, jdbcType=VARCHAR}
      </if>
      <if test="imei != null and imei != ''">
        and imei = #{imei, jdbcType=VARCHAR}
      </if>
      <if test="pressure != null and pressure != ''">
        and pressure = #{pressure, jdbcType=VARCHAR}
      </if>
      <if test="voltage != null and voltage != ''">
        and voltage = #{voltage, jdbcType=VARCHAR}
      </if>
      <if test="signBitOne != null">
        and sign_bit_one = #{signBitOne, jdbcType=SMALLINT}
      </if>
      <if test="signBitOneRemark != null and signBitOneRemark != ''">
        and sign_bit_one_remark = #{signBitOneRemark, jdbcType=VARCHAR}
      </if>
      <if test="signBitTow != null">
        and sign_bit_tow = #{signBitTow, jdbcType=SMALLINT}
      </if>
      <if test="signBitTowRemark != null and signBitTowRemark != ''">
        and sign_bit_tow_remark = #{signBitTowRemark, jdbcType=VARCHAR}
      </if>
      <if test="signBitThree != null">
        and sign_bit_three = #{signBitThree, jdbcType=SMALLINT}
      </if>
      <if test="signBitThreeRemark != null and signBitThreeRemark != ''">
        and sign_bit_three_remark = #{signBitThreeRemark, jdbcType=VARCHAR}
      </if>
      <if test="signBitFour != null">
        and sign_bit_four = #{signBitFour, jdbcType=SMALLINT}
      </if>
      <if test="signBitFourRemark != null and signBitFourRemark != ''">
        and sign_bit_four_remark = #{signBitFourRemark, jdbcType=VARCHAR}
      </if>
      <if test="originData != null and originData != ''">
        and origin_data = #{originData, jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        and create_time = #{createTime, jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        and update_time = #{updateTime, jdbcType=TIMESTAMP}
      </if>
    </where>
  </sql>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_nb_report_data where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="nbReportData" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
    insert into t_nb_report_data (
      <include refid="columns"/>
    ) values (
      #{id, jdbcType=BIGINT},
      #{projectId, jdbcType=BIGINT},
      #{type, jdbcType=VARCHAR},
      #{name, jdbcType=VARCHAR},
      #{imei, jdbcType=VARCHAR},
      #{pressure, jdbcType=VARCHAR},
      #{voltage, jdbcType=VARCHAR},
      #{signBitOne, jdbcType=SMALLINT},
      #{signBitOneRemark, jdbcType=VARCHAR},
      #{signBitTow, jdbcType=SMALLINT},
      #{signBitTowRemark, jdbcType=VARCHAR},
      #{signBitThree, jdbcType=SMALLINT},
      #{signBitThreeRemark, jdbcType=VARCHAR},
      #{signBitFour, jdbcType=SMALLINT},
      #{signBitFourRemark, jdbcType=VARCHAR},
      #{originData, jdbcType=VARCHAR},
      #{createTime, jdbcType=TIMESTAMP},
      #{updateTime, jdbcType=TIMESTAMP})
  </insert>

  <update id="updateByPrimaryKey" parameterType="nbReportData">
    update
      t_nb_report_data
    <set>
      <if test="projectId != null">
        project_id = #{projectId, jdbcType=BIGINT},
      </if>
      <if test="type != null and type != ''">
        type = #{type, jdbcType=VARCHAR},
      </if>
      <if test="name != null and name != ''">
        name = #{name, jdbcType=VARCHAR},
      </if>
      <if test="imei != null and imei != ''">
        imei = #{imei, jdbcType=VARCHAR},
      </if>
      <if test="pressure != null and pressure != ''">
        pressure = #{pressure, jdbcType=VARCHAR},
      </if>
      <if test="voltage != null and voltage != ''">
        voltage = #{voltage, jdbcType=VARCHAR},
      </if>
      <if test="signBitOne != null">
        sign_bit_one = #{signBitOne, jdbcType=SMALLINT},
      </if>
      <if test="signBitOneRemark != null and signBitOneRemark != ''">
        sign_bit_one_remark = #{signBitOneRemark, jdbcType=VARCHAR},
      </if>
      <if test="signBitTow != null">
        sign_bit_tow = #{signBitTow, jdbcType=SMALLINT},
      </if>
      <if test="signBitTowRemark != null and signBitTowRemark != ''">
        sign_bit_tow_remark = #{signBitTowRemark, jdbcType=VARCHAR},
      </if>
      <if test="signBitThree != null">
        sign_bit_three = #{signBitThree, jdbcType=SMALLINT},
      </if>
      <if test="signBitThreeRemark != null and signBitThreeRemark != ''">
        sign_bit_three_remark = #{signBitThreeRemark, jdbcType=VARCHAR},
      </if>
      <if test="signBitFour != null">
        sign_bit_four = #{signBitFour, jdbcType=SMALLINT},
      </if>
      <if test="signBitFourRemark != null and signBitFourRemark != ''">
        sign_bit_four_remark = #{signBitFourRemark, jdbcType=VARCHAR},
      </if>
      <if test="originData != null and originData != ''">
        origin_data = #{originData, jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime, jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime, jdbcType=TIMESTAMP}
      </if>
    </set>
  where
    id = #{id, jdbcType=BIGINT}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select <include refid="columns"/> where id = #{id, jdbcType=BIGINT}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select <include refid="columns"/> from t_nb_report_data
  </select>

  <select id="selectByConditions" resultMap="BaseResultMap" parameterType="nbReportDataRequest">
    select
      id,
      type,
      name,
      imei,
      pressure,
      voltage,
      sign_bit_one_remark,
      sign_bit_tow_remark,
      sign_bit_three_remark,
      sign_bit_four_remark,
      create_time
    from t_nb_report_data
    <where>
      <if test="imei != null and imei != ''">
        and imei = #{imei, jdbcType=VARCHAR}
      </if>
      <if test="startTime != null">
        and create_time &gt;= #{startTime, jdbcType=TIMESTAMP}
      </if>
      <if test="startTime != null">
        and create_time &lt;= #{endTime, jdbcType=TIMESTAMP}
      </if>
    </where>
    order by ${orderBy}
  </select>

</mapper>